/* 
Be 120 pixels in height
Be the full width of the viewport.
Have #4056A1 as its default background colour.
Have #FFFFFF as its default font colour
The <span> within the <nav> has Bungee as it's default font-family
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges

*/

nav {
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 2em;
  height: 120px;
  padding: 1.5em;
  border: 4px solid grey;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;

}

nav .toggle-new-tweet {
  font-size: 1.3rem;
}

nav .toggle-new-tweet:hover {
  font-size: 2rem;
}

nav .tweeter-name {
  font-family: "Bungee", 'Source Sans Pro', "san-sarif";
}

