.new-tweet {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  flex-grow: 1;
  width: 80%
}

.new-tweet-info {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

#tweet-text {
  background-color: inherit ;
  width: 100%;
  height: 60px;
  border: none;
  border-bottom: solid black;
  resize: none;
  font-size: 20px;
}

.negative {
  color: red;
}